/* ---------------------------------CARD ONE---------CARD ONE----------------CARD ONE----------------- */
.cardOne{
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.54);

}

.cardOneImgDiv {

    background: rgba(0, 138, 209, 1);
    gap: 0px;
    border: 1px 0px 0px 0px;
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.54);
    position: relative;
    display: flex;
    max-width: 350px;

}

.cardOnefree {
    position: absolute;
    right: 0;
    padding-right: 12px;
    padding-top: 12px;
    z-index: 5;
}

.shadowDiv {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 32.29%, rgba(0, 0, 0, 0.48) 100%);
    width: 100%;
    height: 100%;
}

.cardOneStar {
    padding-top: 120px;
    padding-left: 10px;
    padding-bottom: 15px;
    z-index: 5;
}

.review {
    position: absolute;
    padding-top: 120px;
    padding-left: 130px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    z-index: 5;

}

.cardOneImg {
    position: absolute;
    right: 0;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
    z-index: 5;
}


.cardOneGreenRect {
    position: absolute;
    width: 49px;
    height: 52px;
    padding-top: 12px;
    padding-left: 10px;
}

.cardOnepolygon {
    position: absolute;
    padding-top: 12px;
    padding-left: 12px;
}

.cardOneTextHead {
    
    color: rgba(68, 68, 68, 1);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}

.cardOneDescription {
    color: rgba(68, 68, 68, 1);
    top: 684px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}


.price  {
    
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    color: rgba(68, 68, 68, 1);
}

.price span {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: rgba(68, 68, 68, 1);
}


.offerPrice {
    margin-top: -15px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: rgba(68, 68, 68, 1);
}

.offerPrice .spanOne {

    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: rgba(19, 215, 38, 1);
}

.offerPrice .spanTwo {

    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: rgba(68, 68, 68, 1);
}

.viewBtn {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 700;

}

.openBtn {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 700;

}

/* ---------------------CARD TWO----------------CARD TWO----------------CARD TWO-------------------- */

.cardTwoImgDiv{
    background: rgba(0, 109, 230, 1);
    gap: 0px;
    border: 1px 0px 0px 0px;
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.54);
    position: relative;
    display: flex;
    max-width: 350px;
}

.cardThreeImgDiv{
    background: rgba(184, 255, 192, 1);
    gap: 0px;
    border: 1px 0px 0px 0px;
    box-shadow: rgba(221, 230, 237, 0.54);
    position: relative;
    display: flex;
    max-width: 350px;
}

.cardFourImgDiv{
    background: rgba(221, 214, 255, 1);
    gap: 0px;
    border: 1px 0px 0px 0px;
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.54);
    position: relative;
    display: flex;
    max-width: 350px;
}