.main{
    border-right: 1px solid rgba(241, 241, 241, 1);
}

.listhead span{
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 800;
    color: rgba(68, 68, 68, 1);
}

.listhead .listItems{
    color: rgba(68, 68, 68, 1);
    line-height: 20px;
    font-size: 14px;
}

.above{
    font-family: "Hanken Grotesk", sans-serif;
}




